@model MyProductsModel

<h2>Description about: @Model.productName</h2>

<table class="table ">
    <tr>
        <th>Model code </th>
        <td>@Model.productCode</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>@Model.productName</td>
    </tr>
    <tr>
        <th>Product line</th>
        <td>@Model.productLine</td>
    </tr>
    <tr>
        <th>Scale</th>
        <td>@Model.productScale</td>
    </tr>
    <tr>
        <th>Vendor</th>
        <td>@Model.productVendor</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.productDescription</td>
    </tr>
    <tr>
        <th>Price</th>
        <td>@Model.buyPrice</td>
    </tr>
    <tr>
        <th>Quantity in stock</th>
        <td>@Model.QuantityInStock</td>
    </tr>
</table>